name: Test Run

on:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello from GitHub Actions!"
      
      - name: Show Date
        run: date
      
      - name: List Files
        run: ls -la
